<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KVO底层实现.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C0CB561A1CF6A563008954F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0CB56331CF6A563008954F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0CB563E1CF6A563008954F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
